* {
    box-sizing: border-box;
}

body {
    font-family: $primaryFont ;
    background-color: $backgrounMain;
    box-sizing: border-box;
    width: 100%;
}

header {
    width: 100%;
    @include flexbox;
    padding: .5rem 1rem;
    justify-content: space-between;
    margin-top: 16px ;
    margin-bottom: 20px;

    

    .header__options {
        @include flexbox;

        a {
            padding: 6px;
            background-color: $bgWithe;
            border-radius: 2rem;
        }
    }
}

main {
    width: 100%;
    position: relative;

    .menu__mobile{
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: $backgrounMain;
        top: 0px;
        right: -100%;
        transition: right 0.5s ease;
        z-index: 1;

        &.showModal {
            right: 0px;
        }

        .menu__contianer {
            margin-top: 5px;
            padding: 24px 16px;

            .header__options{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 24px;

                div {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    p{
                    font-size: 20px;
                    font-weight: 600;
                    font-family: $primaryFont;
                    }
                }
            }

            .navigation__list {
                margin-top: 16px;

                

                li {
                    padding: 8px 8px;
                    display: flex;
                    gap: 8px;
                    color: $textColor;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 400;
                    cursor: pointer;

                    img {
                        padding: 16px;
                    }

                    &:last-child {
                        color: $textRedColor;
                    }
                }

            }
        }
    }

    .modal__results {
        width: 100%;
        height: 100%;
        position:fixed;
        top: 0;
        background-color: $backgrounMain;
        padding: 24px 16px;
        right: -100%;

        &.show__results {
            right: 0px;
        }

        .result__container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .header__options {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 24px;
                div {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                }
            }

            .results {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0;

                li {
                    padding: 8px;
                    display: flex;
                    gap: 16px;
                    font-size: 16px;
                    font-weight: 500;
                    gap: 16px;
                    color: $textColor;
                    border-bottom: 1px solid $outlineColor;
                    gap: 8px;
                    align-items: center;

                    img {
                        padding: 8px;
                    }

                    div {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 2px;

                        p {
                            font-size: 14px;
                            color: $textLabelColor;
                        }

                        span {
                            font-size: 16px;
                            color: $textColor;
                        }
                    }
                }
            }

        }

    }

    .Searcher {
        width: 100%;
        margin-bottom: 2rem;
        padding: 0 16px;
        position: relative;
        z-index: 0;

        input {      
            width: 100%;
            padding: 16px 48px 16px 44px;
            border: 1px solid $outlineColor;
            border-radius: 2rem;

            @include tablet {
                width: 32rem;
        }

            @include desktop {
                width: 32rem;
        }
        }

        .icon__search {
            position: absolute;
            left: 34px;
            top: 12px;
            
        }

        .icon__close{
            position: absolute;
            right: 34px;
            top: 12px;
            display: none;

            &::after {
                display: flex;
            }
        }
    }


    .coffe__group {
        width: 100%;
        padding: 0 16px;
        display: grid;
        box-sizing: border-box;
        grid-template-columns: repeat(4, minmax(0, 1fr)); 
        justify-content: center;
        align-items: center;
        gap: .5rem;

        @include tablet {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }

        @include desktop {
            grid-template-columns: repeat(7, minmax(0, 1fr));
        }

    }

    .cards__coffe {
        width: 100%;
        padding: 0 16px;
            
        .cards__title {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        .cards__gorup--main {
        overflow-x: scroll;

        @include desktop {
            overflow-x: none;
        }

            .cards__group {
                display: flex;
                width: 150%;
                box-sizing: border-box;
                gap: .5rem;
                margin-bottom: 76px;

                @include desktop {
                    width: 100%;
                }
                
            }
        }
    }
    

    .nav__bar {
        z-index: 3;
        margin-top: 16px;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        display: flex;
        padding: 16px 8px 16px 8px;
        box-sizing: border-box;
        align-items: center;
        justify-content:space-between;
        background-color: $bgWithe;

        .nav__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $secondaryFont;
            font-size: 10px;
            padding: 0 8px;
            gap: 6px;
            cursor: pointer;

            img {
                margin: o auto;
            }
       
        }
    
    }
}